<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	                    http://www.springframework.org/schema/beans/spring-beans.xsd
	                    http://www.springframework.org/schema/context
	                    http://www.springframework.org/schema/context/spring-context.xsd
	                    http://www.springframework.org/schema/aop
	                    http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id='xml1' class='com.demo.beans.TestBean'/>
    <bean id='xml2' class='com.demo.beans.TestBean2'/>
    <bean id='advisor1' class='com.demo.advisor.AdvisorClass'/>


    <aop:config>
        <aop:aspect ref='advisor1'>
<!--             * 매개변수가 없는 모든 method1 명칭에 적용..-->
            <aop:pointcut id="point1" expression="execution(* method1())"/>
<!--            <aop:pointcut id="point1" expression="execution(* method1(int))"/>-->
            <aop:before method="beforeMethod" pointcut-ref="point1"/>
            <aop:after method="afterMethod" pointcut-ref="point1"/>
            <aop:around method="aroundMethod" pointcut-ref="point1"/>

            <!-- 반환타입이 void, com.demo.beans.TestBean1 클래스, method1 메서드, String 타입 매개변수 1개 -->
            <!-- <aop:pointcut id="point1" expression="execution(void com.demo.beans.TestBean1.method1(java.lang.String))"/> -->



        </aop:aspect>
    </aop:config>


</beans>

